.education {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 2.5rem;
  
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background: var(--brand);
  }

  &::after {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: var(--brand);
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.title {
  color: var(--brand);
  font-size: var(--text-md);
  font-weight: bold;
}

.degree {
  font-weight: bold;
}

.description {
  margin-bottom: 1.8rem;
  font-weight: 200;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

